[Bb]in/
[Oo]bj/
.nupkgs/
.nupkg/
packages/

.vscode/

[Tt]est[Rr]esult*/
[Tt]est-[Rr]esult*/
[Cc]overage[Hh]istory/
[Cc]overage-[Hh]istory/
[Rr]esharper[Ii]nspect[Rr]esults/
[Rr]esharper-[Ii]nspect-[Rr]esults/

TestDocs/

__pycache__/
*.py[codz]
.mypy_cache/
build/
dist/
.venv/
**/dbman_dev/installation/_build_meta.py

BuildInfo.cs



traces/
